body {
    background: url('img/background.png') repeat center;
    font-family: 'Libre Baskerville', serif;
    font-size: 1.125rem;
    line-height: 1.5;
  }

.container {
  display: grid;
  grid-template-areas: 
  "site-header"
  "navbar-wrap main-pic none sidebar-wrap"
  "navbar-wrap none main-content-wrap sidebar-wrap"
  "footer-wrap";
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-gap: 10px;
  height: 100vh;
}

@media (max-width: 768px) {
  .container {
    grid-template-areas: 
    "header"
	"navbar-wrap"
    "main-pic"
    "main-content-wrap"
	"sidebar-wrap"
	"footer-wrap";
	grid-template-columns: 100%;
	grid-template-rows: 100px 50px 1fr 1fr 50px 70px;
	}
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    background-color: black;
    border-radius: 10px;
    margin: 0px;
    width: 98%;
    padding: 15px;
}

.navbar-wrap{
    text-align: center;
}

ul li {
    list-style: none;
}

h2{
    text-decoration: underline;
    text-align: center;
}

.recipe-button {
    color: white;
    background-color: black;
    padding: 10px;
    margin: 30px;
    border-radius: 10px;
    text-decoration: none;
}

a:hover, input:hover {
    color:rgb(202, 33, 33);
    transition: all 0.5s ease-in-out;
  }

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img .main-img {
    width: 95%
}

strong {
    text-decoration: underline;
    font-weight: bold;
}

footer {
    position: absolute;
    bottom: 0px;
    width: 98%;
    color: white;
    background-color: black;
}

.profile-header {
    width: 100%;
    color: black;
    text-align: center;
  }

.card {
    position: absolute;
    top: 25%;
    left: 38%;
    padding: 1rem;
    background-color: hsla(0, 0%, 100%, .8);
    border-radius: 4px;
    box-shadow: hsla(0, 0%, 0%, .8) 10px 10px 80px;
    max-width: calc(100vw-10px);
    width: 450px;
  }

  .profile-picture {
    margin-top: -50px;
  }
  
  .head {
    text-align: center;
    width: 90%;
    margin: 0 auto;
  }
  
  img .profile-pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }










