/* === BODY STYLE ===*/

.container {
  background: url('img/background.png') repeat center;
  grid-template-areas:
  "header"
  "menu"
  "main"
  "footer";
  grid-template-columns: 100%;
  grid-template-rows: 100px 50px 1fr 10px;
  height: 100vh;
  font-family: serif;
}

/* === HEADER PART === */

.header {
	background-color: rgb(1, 84, 100);
	grid-template-areas:
	"title"
	"logo";
	grid-template-columns: 100%;
	grid-template-rows: 1fr 1fr;
	font-size: 2rem;
	text-align: center;
	color: white;
	display: grid;
	font-family: 'Dancing Script', cursive;
}

.logo {
	margin-top: 10px;
}

/* === NAVIGATION MENU === */

.menu {
	background-color: rgb(112, 163, 173);
	color: #ffffff;
}

a {
	margin: 5px;
	color: white;
	text-decoration: none;
}

a.pointer {
	cursor: pointer;
}


/* === MAIN CONTENT === */ 

.main {
  text-align: center;
  height: 100%;
  overflow: scroll;
}

.secondary-title {
	text-align: center;
	text-decoration: underline;
	font-weight: bold;
	font-size: 20px;
	margin-top: 20px;
}

.recipe-button {
	color: white;
    background-color: rgb(112, 163, 173);
    padding: 15px;
    margin: 20px;
	border-radius: 10px;
	width: 50%;
	font-size: 15px;
    text-decoration: none;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.social {
	color: rgb(1, 84, 100);
	padding: 15px;
	margin: 0px;
}

.social:hover {
    color: black;
}

.social-sites {
	padding: 30px;
	margin: 20px;
}

.contact-button {
	margin-top: 20px;
}

.submit-button {
	color: white;
	background-color:  rgb(112, 163, 173);
	border-radius: 5px;
	padding: 5px;
	width: 100px;
}

/* ==== About Me Styling === */

.profile-header {
	background-color: rgb(112, 163, 173, 0.6);
	margin-top: 100px;
	border-radius: 5px;
	box-shadow: hsla(0, 0%, 0%, .4) 5px 5px 60px;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 30px;
}

.profile-pic {
	width: 120px;
	margin-top: -50px;
	border-radius: 50%;
	border: 1px solid rgb(1, 84, 100);
	box-shadow: hsla(0, 0%, 0%, .3) 5px 5px 60px;
}

.profile-pic:hover {
	transform: scale(1.1);
	transition: all 0.5s ease-in-out;
	filter: grayscale(20%)
  }

.head {
    text-align: center;
    width: 90%;
	margin: 0 auto;
	line-height: 1.5;
  }

.content {
	margin-top: 20px;
	padding: 10px;
	line-height: 2;
	text-align: center;
}


/* === Recipe View Style === */

img {
	width: 160px;
	border-radius: 50%;
	box-shadow: hsla(0, 0%, 0%, .3) 5px 5px 60px;
}

img:hover {
	transform: scale(1.1);
	transition: all 0.5s ease-in-out;
}

.food-pic {
	margin: 20px;
}

.ingredient-list {
	line-height: 1.2;
	margin-top: 15px;
}

ul {
	margin-top: 15px;
}

li {
	line-height: 1.2;
}

ol li {
	width: 90%;
	margin-top: 15px;
	margin-left: 15px;
	list-style: decimal;
	font-size: 15px;
	line-height: 1.5;
}

/* === FOOTER STYLE ===*/ 

.footer {
	background-color: rgb(1, 84, 100);
	font-size: 2rem;
    color: whitesmoke;
	text-align: center;
	font-size: 10px;
}

.header,
.main,
.menu,
.footer {
	padding: 15px;
}

.header { grid-area: header; }
.menu { grid-area: menu; }
.main { grid-area: main; }
.footer { grid-area: footer; }
.title { grid-area: title; }
.logo { grid-area: logo; }
.sidebar { grid-area: sidebar; }


/* === Resize to tablet and PC === */

@media (min-width: 768px) {
	.container {
		display: grid;
		grid-template-areas:
		"header header header"
		"menu main sidebar"
		"footer footer footer";
		grid-template-columns: 150px 1fr 150px;
		grid-template-rows: auto 1fr auto;
		grid-gap: 10px;
		height: 100vh;
		background: url('img/background.png') repeat center;
	}

	.header {
		background-color: rgb(1, 84, 100);
		font-size: 2rem;
		text-align: center;
		width: 98%;
		margin: auto;
	}

	.menu,
    .sidebar {
	  background-color: rgb(112, 163, 173);
	  color: #ffffff;
	  margin: 5px auto 5px auto;
	}

	.main {
		overflow: visible;
	}
	
	.footer {
		background-color:  rgb(1, 84, 100);
		color: #ffffff;
		font-size: 2rem;
		text-align: center;
		width: 98%;
		margin: auto;
		height: 10px;
		font-size: 12px;
	}
}